@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primaryColor: rgb(228, 167, 0);
$secondaryColor: rgb(0, 153, 133);
$fontColor: #444;

$sideSpace: auto 154px;

$primaryFont: 'Vazirmatn', sans-serif;